/* Gradient Banners */
.gradient-banner {
  background: linear-gradient(90deg, rgb(145, 197, 96, 0.75) 0%, rgba(145, 197, 96, 1) 100%);
  color: #fff;
  font-size: 20px;
  padding: 3% 2%;
  margin: 2% 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.gradient-banner a {
  font-size: 16px;
  text-align: center;
  padding: 15px 25px;
  text-transform: uppercase;
}

.triangle {
    width: 0;
    height: 0;
    border-width: 7px 14px 7px 0;
    border-color: transparent #FFFFFF transparent transparent;
    border-style: solid;
}

.gradient-banner span {
  text-align: center;
  margin-right: 15px;
  width: 75%;
}

.gradient-content {
  display: flex;
  align-items: center;
}