.ba-slider {
  position: relative;
  overflow: hidden;
  max-height: 625px;
}
.ba-slider img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.handle {
  /* Thin line seperator */
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -2px;
  background: #666;
  cursor: ew-resize;
}
.handle:after {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 50px;
    margin: -32px 0 0 -50px;
    content: 'Drag';
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background: #9AB858;
    transition: 0.3s ease-in-out all;
}
