/* Footer */
#footer-container {
    padding-top: 8%;
    padding: 5%;
    background: #f6f6f6;
    display: flex;
  }
  
  .footer-column {
    margin: 0 1.5%;
  }
  
  #footer-address {
    margin-top: 5%;
  }
  
  #address p {
    margin: 0;
  }
  
  #sub-footer-container {
    padding: 20px 0;
  }
  
  #sub-footer-container p {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
  }
  
  #sub-footer-container span {
    margin: 1%;
    font-size: 24px;
  }
  
  footer #mc_embed_signup label {
      color: #666;
  }
  
  footer #mc-embedded-subscribe {
      background-color: #9AB858;
      color: #fff;
  }
  
  footer #mc_embed_signup form {
      padding: 0;
      padding-top: 35px;
  }

  footer #mc_embed_signup_scroll {
      width: 100%;
  }

  
  footer #mc_embed_signup input.email {
      width: 95%!important;
      background: transparent!important;
      border: 1px solid #999!important;
  }