/* Hero */
#main-nav-logo {
  padding: 0 35px;
}

#feature-menu {
  display: flex;
  align-items: center;
}

#main-menu-container {
  display: flex;
}

#main-menu-container #feature-menu > a {
  margin: 20px 7.5px;
  text-transform: uppercase;
  font-size: 14px;
}

#main-menu-container #feature-menu > a >span {
  font-size: 18px;
}

#main-content {
  /* background:       
  linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.01), 
      rgba(154, 184, 88, 0.75)
  ); */
  /* height: 100vh; */
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

#main-content-service-selector {
  margin: 0 auto;
  justify-content: space-around;
  background-color: white;
  padding: 16px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 14px 2px;
  display: flex;
}

#hero-text {
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#main-content h1, #main-content h2, #main-content .btn {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 8px #666;
  font-weight: 400;
  margin: 0;
}

#main-content .btn {
  width: 10%;
  margin: 0 auto;
}

#main-content h2 {
  margin: 0;
  top: 41%;
  font-size: 22px;
}

#main-content-service-selector-wrapper {
  width: 85%;
  position: relative;
  top: 75px;
  margin: 0 auto;
}

#main-content-service-selector > div {
    margin: 8px;
}

#main-content-service-selector a {
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 18px;
}

[id^="main-content-service-cards"] {
  justify-content: center;
  height: 40vh;
  width: 85%;
  margin: 0 auto;
  margin-top: -10%;
  display: flex;
}

#main-content-service-cards-exterior .service-card {
    width: 25%;
}

.service-card {
  background-color: #fff;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 14px 2px;
  flex-direction: column;
}

/* Add margin to specific service cards */
.mr-20 {
  margin-right: 20px;
}

.service-card-header {
  background-color: #fff;
  display: flex;
  margin: 0;
  height: 10px;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.service-card-header h3 {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.service-card-image {
  height: 100%;
}

.service-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active {
  border-bottom: 1.5px solid #666;
}

.hidden {
  display: none;
}

/* Slider */
#main-content .slick-slider {
  z-index: -1;
}
.fade .slick-slide img {
  height: 90.5vh;
  width: 100%;
  object-fit: cover;
}

nav {
    width: 100%;
    height: 85px;
    background: #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 14px 2px;
  }
  
  /* Main Menu */
  #main-menu {
    width: 375px;
    transition: 0.3s all ease-in-out;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
  }
  
  .sidebar a:hover {
    background: #f3f3f3;
  }
  
  .sidebar .openbtn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 24px;
    margin-left: 40px;
  }
  
  .sidebar .closebtn {
    font-size: 24px;
    margin-left: 75%;
  }
  
  .sidebar .closebtn:hover {
    background: transparent;
  }
  
  .openbtn, .closebtn {
    cursor: pointer;
    color: #666;
    padding: 0px 35px;
    border: none;
    background: transparent;
  }
  
  .openbtn {
    padding-left: 0px!important;
  }
  
  .openbtn:hover, .closebtn:hover {
    color: #999;
  }
  
  #primary-links a {
    font-weight: 700;
  }
  
  #secondary-links a {
    font-size: 16px;
  }
  
  [id^="collapsed-menu"] {
    margin-left: 8px;
    display: none;
  }
  
  .sidebar [id^="collapsed-menu"] a {
    text-transform: none;
  }
  
  #main {
    transition: margin-left .3s;
    padding: 16px;
  }
  
  .phone-number {
    padding: 12.5px;
    background: #9AB858;
    color: #fff;
    margin-right: 20px!important;
  }
  
  .feature-menu a {
    border-right: 1px solid #999;
    padding-right: 15px;
  }
  
  /* Alert */
  .alert {
    position: absolute;
    top: 85px;
    width: 100%;
    background: #9AB858;
    margin-bottom: 0!important;
    z-index: 999;
  }
  
  .accordion-toggle:hover {
    text-decoration: underline;
  }
  
  .accordion-toggle {
    text-align: center;
  }
  
  .alert p, .alert .strong {
    padding: 0 20%;
    color: #fff;
    width: 60%;
  }
  
  #social-menu a {
      padding: 0 5px;
  }

  /* Testimonials */
  .testimonial-container {
    padding: 5%;
  }
  
  .testimonial-container h3 {
    padding-left: 50px;
  }
  
  .testimonials {
    display: flex!important;
    justify-content: center;
  }
  
  .testimonials .slick-slide {
    text-align: center;
  }
  
  .testimonial {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 14px 2px;
    margin: 1%;
    min-height: 325px!important;
    display: flex!important;
    flex-direction: column;
  }
  
  .testimonial p {
    padding: 0 25px 25px 25px;
  }
  
  .testimonial .quote p {
      color: #fff;
      -webkit-text-stroke: 1.25px #9AB858;
      padding-left: 0;
      padding-bottom: 0;
      font-size: 64px;
  }
  
  .testimonial .quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  
  .testimonial h2 {
    text-align: left;
    padding-right: 5px;
    margin: 0;
  }
  
  .testimonials .slick-next, .testimonials .slick-prev {
    height: 100%;
    align-self: center;
    border: 0;
  }
  
  .next, .prev {
    height: 32px;
    display: flex;
     align-self: center;
  }
  
  .next, .prev:hover {
    cursor: pointer;
  }

  /* Meet Our Owners */
  #meet-our-owners {
    padding: 5%;
  }
  
  #meet-our-owners h1 {
    text-align: center;
  }
  
  #meet-our-owners .biobox {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 14px 2px;
      padding: 25px;
      margin-right: 5%;
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: center;
  }
  
  #meet-our-owners .biobox > .biobox-header .title > h2, #meet-our-owners .biobox > .biobox-header .title > h3 {
    line-height: 1;
    margin: 0;
  }
  
  .bio-image {
    display: inline-block;
    overflow: hidden;
  }
  
  .bio-image > img {
    height: 375px;
  }
  
  .bio {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    height: 0;
    min-height: 375px;
  }
  
  #bio-reverse .biobox {
    margin-left: 5%;
    margin-right: 0;
  }
  
  .biobox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .initials p {
      font-size: 60px;
      color: #fff;
      -webkit-text-stroke: 1.75px #9AB858;
      font-weight: 700;
  }
  
  #meet-our-owners > .biobox > p {
    margin-top: 5%;
  }

  /* Make your house look like new section */
  #below-main-content-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10% 5% 5% 5%; 
    color: grey;
  }
  
  #below-main-content-section img {
    width: 65%;
  }
  
  .below-main-content, .below-main-content-image {
    width: 100%;
    margin-left: 10%;
  }

  /* Sign Up Form */
  #mc_embed_signup_scroll {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  #mc_embed_signup label {
      color: #fff;
  }
  .clear, #mc_embed_signup input.email {
      border: 0;
  }

  #mc_embed_signup input.email {
      border-radius: 0;
  }
  
  @media (max-width: 768px) {
    #below-main-content-section {
      padding: 5%;
    }
  
    #below-main-content-section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mobile-tel {
        text-align: center;
        color: #fff;
        text-decoration: underline;
    }
  }