#below-main-content-section {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10% 5% 5% 5%; 
  color: grey;
}

#below-main-content-section img {
  width: 65%;
}

.below-main-content, .below-main-content-image {
  width: 47.5%;
}

@media (max-width: 768px) {
  #below-main-content-section {
    padding: 5%;
  }

  #below-main-content-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}