#meet-our-owners {
  padding: 5%;
}

#meet-our-owners h1 {
  text-align: center;
}

#meet-our-owners .biobox {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 14px 2px;
  padding: 25px;
  margin-right: 5%;
  width: 50%;
}

#meet-our-owners .biobox > .biobox-header .title > h2, #meet-our-owners .biobox > .biobox-header .title > h3 {
  line-height: 1;
  margin: 0;
}

.bio-image {
  width: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.bio-image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.bio {
  display: flex;
  justify-content: center;
  margin: 5% 0;
  min-height: 325px;
}

#bio-reverse .biobox {
  margin-left: 5%;
  margin-right: 0;
}

.biobox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.initials p {
    font-size: 60px;
    color: #fff;
    -webkit-text-stroke: 1.75px #9AB858;
    font-weight: 700;
}

#meet-our-owners > .biobox > p {
  margin-top: 5%;
}