.image-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.our-work-images {
  /* display: flex; */
  margin-bottom: 10%;
}

/* .our-work-image img {
  object-fit: cover;
} */

.our-work-image {
  margin: 1%;
  /* max-width: 280px; */
  max-height: 300px;
}