.preload {
  z-index: 999;
  /* Overlay loader on top of screen */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out opacity ;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.logo {
  animation: logo 1s ease infinite alternate;
}

@keyframes logo {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}