<div id="footer-container">
  <div class="footer-column">
    <a href="#"><img src="images/home/team-builders-logo.png" alt="Team Builders Limited Logo"></a>
    <div id="footer-address">
      <p>2512 White Tail Drive</p>
      <p>Cedar Falls, IA 50613</p>
    </div>
    <a href="tel:3194818326">(319) 481-8326</a>
  </div>
  <div class="footer-column">
  <h4>Interior Remodeling</h4>
  <ul>
    <!-- <li><a href="/bathroom-renovations.html">Bathroom Renovations</a></li> -->
    <li><a href="/basement-renovations.html">Basement Renovations</a></li>
    <li><a href="/kitchen-renovations.html">Kitchen Renovations</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <h4>Exterior Remodeling</h4>
  <ul>
    <li><a href="/fencing.html">Fences</a></li>
    <li><a href="/roofing.html">Roofing</a></li>
    <li><a href="/decks.html">Decks</a></li>
    <li><a href="/pergolas.html">Pergolas</a></li>
    <li><a href="/siding.html">Siding</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <h4>Shed Homes</h4>
  <ul>
    <li><a href="/shed-houses-shouses.html">Shed Houses "Shouses"</a></li>
    <li><a href="/agriculture-commercial-buildings.html">Agricultural & Commercial Buildings</a></li>
    <li><a href="/event-venues.html">Event Venues</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <h4>More</h4>
  <ul>
    <li><a href="/interior-remodeling.html">Interior Remodeling</a></li>
    <li><a href="/exterior-remodeling.html">Exterior Remodeling</a></li>
    <li><a href="/shed-homes-shouses.html">Shed Homes "Shouses"</a></li>
    <li><a href="/our-work.html">Our Work</a></li>
    <li><a href="/process.html">Our Process</a></li>
    <li><a href="/contactus.html">Contact Us</a></li>
    <li><a href="https://www.google.com/search?q=teambuilderslimited&rlz=1C1CHBF_enUS691US691&oq=team_builders_limited&aqs=chrome..69i57j0j69i60l4.6122j0j7&sourceid=chrome&ie=UTF-8#lrd=0x87f0001c6a61c2ef:0x4a6e6a79368ff93e,3,,,"  target="_blank">Leave a Review<span class="fa fa-google"></a></li>
  </ul>
  </div>
</div>
<div id="sub-footer-container">
  <p>Copyright &copy; 2020 T.E.A.M. Builders Ltd.</p>
  <p>
    <a href="https://www.facebook.com/teambuilderslimited/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
    <a href="https://www.pinterest.com/teambuilders0087/"><span class="fa fa-pinterest" aria-hidden="true"></span></a>
    <a href="https://www.instagram.com/teambuilderslimited/"><span class="fa fa-instagram" aria-hidden="true"></span></a>
    <a href="https://www.youtube.com/channel/UCq7x6SEpZcGiF68RuVP7B-g/videos"><span class="fa fa-youtube-play" aria-hidden="true"></span></a>
  </p>
</div>