<div id="footer-container">
  <div class="footer-column">
    <a href="#"><img src="https://teambuilders-media.s3.us-east-2.amazonaws.com/team-builders-logo.png" alt="Team Builders Limited Logo"></a>
    <div id="footer-address">
      <p>2512 White Tail Drive</p>
      <p>Cedar Falls, IA 50613</p>
    </div>
    <a href="tel:3194818326">(319) 481-8326</a>
    <div id="mc_embed_signup">
        <form action="https://teambuilderslimited.us2.list-manage.com/subscribe/post?u=3505b437145ee33b184d2b30a&amp;id=5ee4451a83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Discover Trends, Ideas, Inspiration &amp; Products</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3505b437145ee33b184d2b30a_5ee4451a83" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary"></div>
            </div>
        </form>
        </div>
  <!-- </div> -->
  </div>
  <div class="footer-column">
  <h4>Interior Remodeling</h4>
  <ul>
    <li><a href="/basement-renovations">Basement Renovations</a></li>
    <li><a href="/kitchen-renovations">Kitchen Renovations</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <h4>Exterior Remodeling</h4>
  <ul>
    <li><a href="/fencing">Fences</a></li>
    <li><a href="/roofing">Roofing</a></li>
    <li><a href="/decks">Decks</a></li>
    <li><a href="/pergolas">Pergolas</a></li>
    <li><a href="/siding">Siding</a></li>
    <li><a href="/gutters">Gutters</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <h4>Shed Homes</h4>
  <ul>
    <li><a href="/shed-houses-shouses">Shed Houses "Shouses"</a></li>
    <li><a href="/agriculture-commercial-buildings">Agricultural & Commercial Buildings</a></li>
    <li><a href="/event-venues">Event Venues</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <h4>More</h4>
  <ul>
    <li><a href="/interior-remodeling">Interior Remodeling</a></li>
    <li><a href="/exterior-remodeling">Exterior Remodeling</a></li>
    <li><a href="/shed-homes-shouses">Shed Homes "Shouses"</a></li>
    <li><a href="/our-work">Our Work</a></li>
    <li><a href="/process">Our Process</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="https://www.google.com/search?q=teambuilderslimited&rlz=1C1CHBF_enUS691US691&oq=team_builders_limited&aqs=chrome..69i57j0j69i60l4.6122j0j7&sourceid=chrome&ie=UTF-8#lrd=0x87f0001c6a61c2ef:0x4a6e6a79368ff93e,3,,,"  target="_blank">Leave a Review<span class="fa fa-google"></a></li>
  </ul>
  </div>
</div>
<div id="sub-footer-container">
  <p>Copyright &copy; 2021 T.E.A.M. Builders Ltd.</p>
  <p>
    <a href="https://www.facebook.com/teambuilderslimited/" title="Facebook" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
    <a href="https://www.pinterest.com/teambuilders0087/" title="Pinterest" target="_blank"><span class="fa fa-pinterest" aria-hidden="true"></span></a>
    <a href="https://www.instagram.com/teambuilderslimited/" title="Instagram" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a>
    <a href="https://www.youtube.com/channel/UCq7x6SEpZcGiF68RuVP7B-g/videos" title="Youtube" target="_blank"><span class="fa fa-youtube-play" aria-hidden="true"></span></a>
  </p>
</div>