<div id="main-nav-logo">
  <a href="/"><img src="https://teambuilders-media.s3.us-east-2.amazonaws.com/team-builders-logo.png" alt="Team Builders Limited Logo"></a>
</div>
<div id="main-menu-container">
  <div id="feature-menu">
    <div id="social-menu">
    <a href="https://www.facebook.com/teambuilderslimited/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
    <a href="https://www.pinterest.com/teambuilders0087/"><span class="fa fa-pinterest" aria-hidden="true"></span></a>
    <a href="https://www.instagram.com/teambuilderslimited/"><span class="fa fa-instagram" aria-hidden="true"></span></a>
    <a href="https://www.youtube.com/channel/UCq7x6SEpZcGiF68RuVP7B-g/videos"><span class="fa fa-youtube-play" aria-hidden="true"></span></a>
    </div>
    <a href="/our-work.html">Our Work</a>
    <a href="/contact-us.html">Contact Us</a>
    <a href="/roofing.html" class="roof-estimate">Roof Estimate</a>
    <a href="/client-feedback-form.html" class="client-feedback">Client Feedback</a>
    <a href="/referral.html" class="referral-program">Referral Program</a>
    <a href="https://www.google.com/search?q=teambuilderslimited&rlz=1C1CHBF_enUS691US691&oq=team_builders_limited&aqs=chrome..69i57j0j69i60l4.6122j0j7&sourceid=chrome&ie=UTF-8#lrd=0x87f0001c6a61c2ef:0x4a6e6a79368ff93e,3,,,"  target="_blank" class="leave-review">Leave a Review<span class="fa fa-google" aria-hidden="true"></span></a>
    <a href="tel:3194818326" class="phone-number"> (319) 481-8326 </a>
  </div>
  <div id="main-menu" class="sidebar">
    <button class="closebtn"><img src="images/home/cancel.png"></button>
    <div id="collapseMenu">
      <a href="/"><img src="https://teambuilders-media.s3.us-east-2.amazonaws.com/team-builders-logo.png" alt="Team Builders Limited Logo"></a>
      <div id="primary-links">
        <a href="/">Home</a>
        <a href="#" id="collapse-toggle-interior">Interior Remodeling<span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
          <div id="collapsed-menu-interior">
            <!-- <a href="/bathroom-renovations.html">Bathroom Renovations</a> -->
            <a href="/basement-renovations.html">Basement Renovations</a>
            <a href="/kitchen-renovations.html">Kitchen Renovations</a>
          </div>
        <a href="#" id="collapse-toggle-exterior">Exterior Remodeling<span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
        <div id="collapsed-menu-exterior">
          <a href="/fencing.html">Fences</a>
          <a href="/roofing.html">Roofing</a>
          <a href="/deck-pergolas.html">Decks</a>
          <a href="/pergolas.html">Pergolas</a>
          <a href="/siding.html">Siding</a>
        </div>
        <a href="#" id="collapse-toggle-shed">Shed Homes<span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
        <div id="collapsed-menu-shed">
          <a href="/shed-homes-shouses.html">Shed Houses "Shouses"</a>
          <a href="/agriculture-commercial-buildings.html">Agriculture & Commercial Buildings</a>
          <a href="/event-venues.html">Event Venues</a>
        </div>
      </div>
      <div id="secondary-links">
        <a href="/our-work.html">Our Work</a>
        <a href="/process.html">Our Process</a>
        <a href="/about-our-owners.html">About Our Owners</a>
        <a href="/contact-us.html">Contact Us</a>
        <a href="/roofing.html">Roof Estimate</a>
        <a href="/client-feedback-form.html">Client Feedback</a>
        <a href="/referral.html">Referal Program</a>
        <a href="https://www.google.com/search?q=teambuilderslimited&rlz=1C1CHBF_enUS691US691&oq=team_builders_limited&aqs=chrome..69i57j0j69i60l4.6122j0j7&sourceid=chrome&ie=UTF-8#lrd=0x87f0001c6a61c2ef:0x4a6e6a79368ff93e,3,,,"  target="_blank">Leave a Review<span class="fa fa-google" aria-hidden="true"></span></a>
        <a href="tel:3194818326">Call Us</a>
      </div>
    </div>
  </div>
  <button class="openbtn"><img src="images/home/menu.png"></button>
</div>
<script src="js/script.js"></script>